*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url('/img/bg-web-express.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:auto;
    position: relative;
    
}
 body .bg{
    background-color: rgb(105, 105, 189);
    width:100%;
    height:100%;
    position: absolute;
    opacity: 0.5;
    z-index: -2;
}

.header{
    color:white;
    width:100%;
    height:200px;
    text-align: center;
}
.header .imglogo img{
    width:120px;
    height:130px;
    margin-bottom: 15px;
}
.real-plaza img{
    width:100%;
    border:3px solid rgb(88, 88, 196);
}
.bank{
    text-align: center;
}
.font-icon{
    color:white;
    font-size: 1.5rem;
}
.mgbank img{
    width: 135px;
}
.imgmap img{
    width: 700px;
    border: 3px solid  rgb(88, 88, 196);
}
.img{
    border:5px solid rgb(92, 92, 196);
    width:100%;
    height:580px;
}
.vdo{
    height: 450px;
    width:100%;
}
.foot{ 
    color:white;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.imgf{
    width:60px;
    /* margin-right:3px; */
}
.sp{
    margin-top: 5px;
}
@media only screen and (max-width: 600px){
    .banks{
        width:100%;
    }
    .bank img{
        width:150px;
        height:150px;
    }
    .bank .font-icon{
        font-size: 25px;
    }
    .map{
        width:100%;
    }
    .img{
        width:100%;
        height:400px;
    }
    .vdo{
        width:100%;
        height:300px;
    }
    .foot{
        font-size: 12px;
    }
     .img-foot{
        width:20px;
        margin-right: 3px;
    }
}
@media only screen and (max-width:760px){
    .banks{
        width:100%;
    }
    .bank img{
        width:150px;
        height:150px;
    }
    .bank .font-icon{
        font-size: 25px;
    }
    .map{
        width:100%;
    }
    .img{
        width:100%;
        height:400px;
    }
    .vdo{
        width:100%;
        height:300px;
    }
    .foot{
        font-size: 12px;
    }
     .img-foot{
        width:20px;
        margin-right: 3px;
    }
}
